/JW-L2/dist/
/JW-L3/nbproject/private/
/JW-L3/build/
/Code-Practice/JW-L4-First-CRUD-Core/nbproject/private/
/Project/Level 1/Student-Management-uplevel/StudentManagementUplevel/nbproject/private/
/Project/Level 1/StudentManagementUplevel/nbproject/private/
/Code-Practice/JW-L4-First-CRUD-Core/build/
/Project/Level 1/StudentManagementUplevel/target/
/Project/Level 1/Personal-Expense-Manager/target/
